<div class="container">
  
  <header>
    <div class="container-fluid">
      <img srcset="/assets/img/ban.png 320w,
      /assets/img/ban.png 480w,
      /assets/img/ban.png 800w"
   sizes="(max-width: 320px) 280px,
          (max-width: 480px) 440px,
          800px"
   src="elva-fairy-800w.jpg" alt="Elva dressed as a fairy">
  </div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="\"><img src="/assets/img/logo.png" width="30%" height="50%" class="d-inline-block" alt="Logo UTH" srcset="">
</a>
<button
class="navbar-toggler"
type="button"
data-toggle="collapse"
data-target="#navbarColor01"
aria-controls="navbarColor01"
aria-expanded="false"
aria-label="Toggle navigation"
>
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarColor01">
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link">Página Principal</a>
    
    </li>
    <li class="nav-item active">
      <a class="nav-link">Quiénes Somos</a>
      
      </li>
<li class="nav-item active">
<a class="nav-link">Productos</a>

</li>
<li class="nav-item active">
<a class="nav-link">Inicia Sesión</a>

</li>
<li class="nav-item active">
<a class="nav-link">Registrate</a>

</li>
</ul>
</div>
</nav>

  </header>
  <hr>
<h1 align=center>¡Bienvenido a Oquita Shop!</h1>
<hr>
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/img/1.png" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/2.png" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/3.png" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h1 align=center>Productos</h1>
  <hr>
  <div class="container mt-5 mb-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10">
              <div class="row p-2 bg-white border rounded">
                  <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/product1.jpg"></div>
                  <div class="col-md-6 mt-1">
                      <h5>Consola Playstation 4</h5>
                      <div class="d-flex flex-row">
                          <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                      </div>
                      <p class="text-justify text-truncate para mb-0">Sin detalles, perfectamente funcional.<br><br></p>
                  </div>
                  <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                      <div class="d-flex flex-row align-items-center">
                          <h4 class="mr-1">$30.99</h4><span class="strike-text">$20.99</span>
                      </div>
                      <h6 class="text-success">Envío gratis</h6>
                      <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Detalles</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Agregar al carrito</button></div>
                  </div>
              </div>
        <div class="row p-2 bg-white border rounded">
                  <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/product4.jpg"></div>
                  <div class="col-md-6 mt-1">
                      <h5>Consola Xbox 360</h5>
                      <div class="d-flex flex-row">
                          <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                      </div>
                      <p class="text-justify text-truncate para mb-0">Solo consola, sin detalles, perfectamente funcional.<br><br></p>
                  </div>
                  <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                      <div class="d-flex flex-row align-items-center">
                          <h4 class="mr-1">$13.99</h4><span class="strike-text">$10.99</span>
                      </div>
                      <h6 class="text-success">Envío gratis</h6>
                      <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Detalles</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Agregar al carrito</button></div>
                  </div>
              </div>
        <div class="row p-2 bg-white border rounded">
                  <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/product2.jpg"></div>
                  <div class="col-md-6 mt-1">
                      <h5>Megapack Playstation 4</h5>
                      <div class="d-flex flex-row">
                          <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                      </div>
                      <p class="text-justify text-truncate para mb-0">Incluye 3 juegos, 1 mando, sin detalles, perfectamente funcional.<br><br></p>
                  </div>
                  <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                      <div class="d-flex flex-row align-items-center">
                          <h4 class="mr-1">$50.99</h4><span class="strike-text">$49.99</span>
                      </div>
                      <h6 class="text-success">Envío gratis</h6>
                      <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Detalles</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Agregar al carrito</button></div>
                  </div>
              </div>
        <div class="row p-2 bg-white border rounded">
                  <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/product3.jpg"></div>
                  <div class="col-md-6 mt-1">
                      <h5>Impresora Epson</h5>
                      <div class="d-flex flex-row">
                          <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                      </div>
                      <p class="text-justify text-truncate para mb-0">Usada, pero funcional.<br><br></p>
                  </div>
                  <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                      <div class="d-flex flex-row align-items-center">
                          <h4 class="mr-1">$20.99</h4><span class="strike-text">$30.99</span>
                      </div>
                      <h6 class="text-success">Envío gratis</h6>
                      <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Detalles</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Agregar al carrito</button></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <hr>
  <h1 align=center>¡Visita nuestras redes sociales!</h1>
  <hr>
  <div class="footer-basic">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Casa</a></li>
            <li class="list-inline-item"><a href="#">Servicios</a></li>
            <li class="list-inline-item"><a href="#">Acerca de</a></li>
            <li class="list-inline-item"><a href="#">Terminos</a></li>
            <li class="list-inline-item"><a href="#">Políticas de privacidad</a></li>
        </ul>
        <p class="copyright">Oquita Shop © 2018</p>

      </div>
      </div>
     